<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.aptana.ide.debug.core.jsLaunchConfigurationType">
<booleanAttribute key="suspendOnErrors" value="true"/>
<intAttribute key="startActionType" value="1"/>
<intAttribute key="serverType" value="1"/>
<booleanAttribute key="suspendOnDebuggerKeywords" value="true"/>
<stringAttribute key="httpGetData" value=""/>
<stringAttribute key="startPageUrl" value=""/>
<stringAttribute key="browserExecutable" value="/Applications/Firefox.app"/>
<booleanAttribute key="suspendOnFirstLine" value="false"/>
<booleanAttribute key="advancedRunEnabled" value="false"/>
<stringAttribute key="externalBaseUrl" value=""/>
<stringAttribute key="startPagePath" value=""/>
<stringAttribute key="httpPostContentType" value=""/>
<stringAttribute key="httpPostData" value=""/>
<booleanAttribute key="suspendOnExceptions" value="false"/>
<booleanAttribute key="overrideDebugPreferences" value="false"/>
</launchConfiguration>
